In [2]:
import pandas as pd
dff = pd.read_excel("student_info.xlsx")
dff

,First name,Last name,Father Name,Mother Name,Current Location,Hometown Location,Achievements,Skills,Certification Courses,Sem 1 CGPA,...,Roll Number,Personal Email,College Email,Password,Phone Number,Branch,Degree,10th Percentage,12th Percentage,Active Backlogs
0,Bhavesh,Patil,abc,xyz,Punjab,Amritsar,Consulted in the redesign of a company’s websi...,"Java,Python,React,Angular","Java,Python",6.56,...,1T523641,bhavesh@gmail.com,b@gmail.com,b,9856321470,Information Technology,B.E,0.8,0.85,0

In [4]:
a = dff.columns
a

Index(['First name', 'Last name', 'Father Name', 'Mother Name',
       'Current Location', 'Hometown Location', 'Achievements', 'Skills',
       'Certification Courses', 'Sem 1 CGPA', 'Sem 2 CGPA', 'Sem 3 CGPA',
       'Sem 4 CGPA', 'Sem 5 CGPA', 'Sem 6 CGPA', 'Sem 7 CGPA', 'Sem 8 CGPA',
       'College Name', 'Roll Number', 'Personal Email', 'College Email',
       'Password', 'Phone Number', 'Branch', 'Degree', '10th Percentage',
       '12th Percentage', 'Active Backlogs'],
      dtype='object')

In [5]:
for i in a:
    print("df["+i+"]")

df[First name]
df[Last name]
df[Father Name]
df[Mother Name]
df[Current Location]
df[Hometown Location]
df[Achievements]
df[Skills]
df[Certification Courses]
df[Sem 1 CGPA]
df[Sem 2 CGPA]
df[Sem 3 CGPA]
df[Sem 4 CGPA]
df[Sem 5 CGPA]
df[Sem 6 CGPA]
df[Sem 7 CGPA]
df[Sem 8 CGPA]
df[College Name]
df[Roll Number]
df[Personal Email]
df[College Email]
df[Password]
df[Phone Number]
df[Branch]
df[Degree]
df[10th Percentage]
df[12th Percentage]
df[Active Backlogs]

In [5]:
import pymysql

def dbConnection():
    try:
        connection = pymysql.connect(
            host="localhost", user="root", password="root", database="003placement")
        return connection
    except:
        print("Something went wrong in database Connection")


def dbClose():
    try:
        dbConnection().close()
    except:
        print("Something went wrong in Close DB Connection")

        
con = dbConnection()
cursor = con.cursor()

In [9]:
cursor.execute("SELECT * from userdetails")
res = cursor.fetchall()
list(res)

[(1, 'akshay', 'kadam', '8569741230', 'ak@gmail.com', 'ak', ''),
 (2, 'swapnil', 'patil', '856321470', 's@gmail.com', 'sp', '')]

In [10]:
for i in list(res):
    print(i)

(1, 'akshay', 'kadam', '8569741230', 'ak@gmail.com', 'ak', '')
(2, 'swapnil', 'patil', '856321470', 's@gmail.com', 'sp', '')

In [12]:
b = ["fname","lname","fathername","mothername","curntLoc","Hometwn","achivmnt","skil","certif","cgpa1","cgpa2","cgpa3","cgpa4","cgpa5","cgpa6","cgpa7","cgpa8","clgname","rolno","pEmail","phnno","brnch","degre","percent10","percent12","actbacklog"]
len(b)

26

In [15]:
ab = []
for i in range(len(b)):
    ab.append("%s")

In [5]:
s = ['fname', 'lname', 'curntLoc', 'achivmnt', 'skil', 'certif', 'phnno', 'actbacklog']

In [14]:
fname = "Bhavesh"
flst = []

for i in s:
    cursor.execute("select "+i+" from studentinfo where fname=%s;",(fname))
    res = list(cursor.fetchall())
    flst.append(res[0][0])

flst

['Bhavesh',
 'Patil',
 'Punjab',
 'Consulted in the redesign of a company’s website, resulting in a 25% increase in traffic',
 'Java,Python,React,Angular',
 'Java,Python',
 '9856321470',
 '0']

In [21]:
stdinfo = ["['fname', 'lname', 'curntLoc', 'achivmnt', 'skil', 'certif', 'phnno', 'actbacklog']","['lname', 'curntLoc', 'achivmnt', 'certif', 'phnno']"]

In [23]:
asd = []
for i in stdinfo:
    a = i.replace("'","")
    a = a.replace("[","")
    a = a.replace("]","")
    asdf = a.split(",")
    asd.append(asdf)
asd

[['fname',
  ' lname',
  ' curntLoc',
  ' achivmnt',
  ' skil',
  ' certif',
  ' phnno',
  ' actbacklog'],
 ['lname', ' curntLoc', ' achivmnt', ' certif', ' phnno']]

In [3]:
a = {"fname":"First Name","lname":"Last Name","fathername":"Father Name","mothername":"Mother Name","curntLoc":"Current Location","Hometwn":"HomeTown","achivmnt":"Achievement","skil":"Skills","certif":"Certificates","cgpa1":"Semester 1 CGPA","cgpa2":"Semester 2 CGPA","cgpa3":"Semester 3 CGPA","cgpa4":"Semester 4 CGPA","cgpa5":"Semester 5 CGPA","cgpa6":"Semester 6 CGPA","cgpa7":"Semester 7 CGPA","cgpa8":"Semester 8 CGPA","clgname":"Collage Name","rolno":"Roll No.","pEmail":"Personal Email","phnno":"Phone No.","brnch":"Branch","degre":"Degree","percent10":"10th Percentage","percent12":"12th Percentage","actbacklog":"Active Backlog"}

In [4]:
a["fname"]

'First Name'

In [7]:
studinfo = ['Bhavesh', 'Patil', 'Punjab', 'Consulted in the redesign of a company’s website, resulting in a 25% increase in traffic', 'Java,Python,React,Angular', 'Java,Python', '9856321470', '0']
resumefile_path = ['static/upload_resume/New_Product_Launch.pdf'] 
aplycompanyName = ['Apple'] 
aplyjobTitle = ['Flutter developer']
status = ["applied"]

final_list = zip(aplycompanyName,aplyjobTitle,resumefile_path,studinfo[0],studinfo[1],status)

In [9]:
for aplycompanyName,aplyjobTitle,resumefile_path,studinfo,studinfo,status in final_list:
    sql = "INSERT into applycmp (cmpName,Jobtitle,resume,fname,lname,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,status) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    val = (aplycompanyName,aplyjobTitle,resumefile_path,studinfo,studinfo,"None","None","None","None","None","None","None","None","None",status)
    cursor.execute(sql,val)
    print("inserted!")

inserted!